<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laurino Archive</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header Image -->
    <img src="{{ url_for('static', filename='images/laurino.jpeg') }}" alt="Laurino Archive" class="widescreen-image">

    <!-- Title and Subtitle -->
    <h1>Laurino Records Search</h1>
    <p class="subtitle">Search Laurino's Records from the years 1865-1905</p>

    <!-- Search Form -->
    <form method="POST" action="/">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required>
        <label for="year_range">Year Range:</label>
        <input type="text" id="year_range" name="year_range" placeholder="e.g., 1866-1875">
        <button type="submit">Search</button>
    </form>

    <!-- Credits -->
    <p class="credit">Records made available by the kind contribution of J. Gregorio.</p>
    <!-- Matching Year Links -->
    {% if antenati_results %}
        <div class="links-section">
            <h2>Links to Portale Antenati:</h2>
            <ul>
                {% for link in antenati_results %}
                    <li class="link-item">
                        <span>{{ link.year }}</span> -
                        <a href="{{ link.link }}" target="_blank" class="link-button">Click to View the Full Record</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Image Results -->
    {% if records %}
        {% if records is string %}
            <p>{{ records }}</p>
        {% else %}
            <h2>Image Results:</h2>
            <ul>
                {% for record in records %}
                    <li>
                        <img src="{{ url_for('static', filename='images/' + record) }}" alt="Record Image" style="max-width:1800px;">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <!-- Donation Section -->
    <hr>
    <div class="donation-section">
        <h3>Support the Laurino Archive</h3>
        <p>Your donations help us maintain and expand this archive. Thank you for your support!</p>
        <a href="https://www.paypal.com/donate?hosted_button_id=F87WU4KRSG25E"
           class="custom-donate-button" target="_blank" rel="noopener">
           Donate Now
        </a>
    </div>
</body>
</html>
